@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

* {
    font-family: "Open Sans", sans-serif;
}

:root {
    --background-color: white;
    --navbar-height: 4rem;
    --margin: 1rem;
    --primary-color: #00d7b5;
    --gray: rgb(49, 49, 49);
    font-family: "Open Sans", sans-serif;
}

#root {
    background-color: rgb(228, 228, 228);
    min-height: 100vh;
    min-width: 100vw;
}

.light-shadow {
    box-shadow: 0rem 0rem 0.5rem rgba(0, 0, 0, 0.25);
}

.hover-shadow {
    transition: filter 0.3s ease;
}
.hover-shadow:hover {
    filter: drop-shadow(0 0 0.5rem var(--primary-color));
}

.navbar {
    width: 100vw;
    height: var(--navbar-height);
    background-color: var(--background-color);
}

.circle {
    position: absolute;
    width: 6rem;
    padding: 1rem;
    aspect-ratio: 1/1;
    overflow: scroll;
    background-color: var(--background-color);
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    z-index: 100;
}

.circle::-webkit-scrollbar {
    display: none;
}

.circle-text {
    text-align: center;
    outline: none;
    /* border: none;
    resize: none;
    margin: 0;
    vertical-align: bottom;
    padding: 0; */
    min-width: 1rem;
}

.circle-image {
    /* object-fit: contain;
    width: 100%;
    height: 100%; */
    background-size: cover;
    background-position: center;
}

.connection-line {
    stroke: var(--gray);
    stroke-width: 0.3rem;
    transition: all 0.3s ease;
    pointer-events: all;
}

.connection-line-selected {
    stroke: var(--primary-color);
    filter: drop-shadow(0 0 0.5rem var(--primary-color));
}

.connection-line:hover {
    stroke: var(--primary-color);
}

.connection-line-svg {
    position: absolute;
    pointer-events: none;
}

.editor {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.editor-canvas {
    min-width: 100%;
    min-height: calc(100vh - var(--navbar-height));
    overflow: hidden;
    position: relative;
}

.editor-canvas-wrapper {
    /* width: calc(100vw - 30rem); */
    flex: 1;
}

.editor-sidebar {
    position: absolute;
    right: 0;
    width: 40rem;
    height: calc(100vh - var(--navbar-height));
    background-color: transparent;
    pointer-events: none;
    /* z-index: 100; */
    /* flex: 1; */
}

.card {
    margin-left: var(--margin);
    margin-top: var(--margin);
    margin-right: var(--margin);
    background-color: var(--background-color);
    box-sizing: border-box;
    padding: var(--margin);
    border-radius: var(--margin);
    pointer-events: all;
}

.add-circle-card {
}

.connections-card {
}

.input {
    font-size: 1rem;
    width: 100%;
    border: none;
    outline: none;
}

.connection-title {
    padding: var(--margin);
    border-radius: var(--margin);
    /* margin-bottom: var(--margin); */
    font-weight: bold;
    transition: all 0.3s ease;
    color: var(--gray);
    cursor: pointer;
}

.connection-title:hover {
    /* background-color: var(--primary-color);
    color: white; */
    opacity: 0.5;
}

.connection-title-selected {
    background-color: var(--primary-color);
    color: white;
}
